.body {
  background-image: url("../images/rockpaperscissors.png");
  background-size: 70%;

  @media all and (min-width: 768px)  {
    background-size: auto;
    background-repeat: repeat;
    }
}

.main {
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
  justify-items: center;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: 70vw;
  
  margin: auto;  
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 2rem;

   @media all and (min-width: 768px) {
    width: 60vw;
    height: 80vh;
    margin: auto;   
    margin-top: 5rem;
    }
  }

.title {
  font-family: Rubik Bubbles;
}
.subtitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.playingSection {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btnPlay {
  background-color: #7e2c39;
  color: white;
  cursor: pointer;
}

.resultLine {
  background-color: #7e2c39;
  border: 2px solid black;
  color: white;
  width: fit-content;
  padding: 0.1rem;
}
.results {
  font-weight: bolder;
  align-items: center;
}
.resetSection {
  /* display: flex;
    flex-direction: column; */
  text-align: center;
}
.playAgain {
  color: #7e2c39;
  font-weight: bolder;
  background-color: white;
}
.playReset {
  background-color: black;
  color: white;
  margin-bottom: 2rem;
  cursor: pointer;
}
.instructionsSection {
  text-align: center;
}
.btnInstructions {
  background-color: #7e2c39;
  color: white;
  cursor: pointer;
}
.instructionsList {
  border: 1px solid black;
  margin: 1rem; 
  background-color: rgba(126, 44, 57, 0.7);
  font-style: oblique;
  font-weight: bolder;
  padding-inline: 1rem;  
}
.hidden {
  display: none;
}
.footer {  
  text-align: right;
  padding-right: 2rem;
}
.mybrand {
  font-weight: bolder;
  background-color: white;
 
}
